/* ==========================================================================
   Button
   ========================================================================== */

/* Imports
   ========================================================================== */
// @import '../../../assets/scss/imports';
// @import '../../../assets/scss/core/buttons';


.Button {
    &.MuiButtonBase-root {
        text-transform: none;
    }

    &.MuiButton-containedSecondary {
        background-color: #FF0000;

        &:hover {
            background-color: darken(#FF0000, 10);
        }
    }
}
