registry=https://pkgs.dev.azure.com/IESI/IESI/_packaging/iesiui-feed/npm/registry/                
always-auth=true

; begin auth token
pkgs.dev.azure.com/IESI/IESI/_packaging/iesiui-feed/npm/registry/:username=IESI
pkgs.dev.azure.com/IESI/IESI/_packaging/iesiui-feed/npm/registry/:_password=bmZndHk2dWpqZ2Vucno1bGdveTJqeXdjb3NvemZsajVpN2xtejN2dXE2dDdtNGRyenV3cQ==
pkgs.dev.azure.com/IESI/IESI/_packaging/iesiui-feed/npm/registry/:email=zailachi.rani@accenture.com
pkgs.dev.azure.com/IESI/IESI/_packaging/iesiui-feed/npm/:username=IESI
pkgs.dev.azure.com/IESI/IESI/_packaging/iesiui-feed/npm/:_password=bmZndHk2dWpqZ2Vucno1bGdveTJqeXdjb3NvemZsajVpN2xtejN2dXE2dDdtNGRyenV3cQ==
pkgs.dev.azure.com/IESI/IESI/_packaging/iesiui-feed/npm/:email=zailachi.rani@accenture.com
; end auth token
